<h1>Hang-man</h1>

<h4>Choose a word:</h4>

<form action="/hangman" method="get">
  <div class="form-group">
    <label for="word">Word</label>
    <input id="word" name="word" class="form-control" type="text">

  </div>
  <button type="submit" class="btn btn-default">Go!</button>
</form>
